<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="QueueConfig" type="ServiceBusMonitoring.QueueConfig, ServiceBusMonitoring"/>
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <QueueConfig>
    <Queues>
      <add SBNamespace="some-namespace" QueueName="queue1" SASKeyName="monitoring" SASKey="" Threshold="2" />
      <add SBNamespace="another-namespace" QueueName="queue2" SASKeyName="monitoring" SASKey="" Threshold="3" />
    </Queues>
  </QueueConfig>
  <!-- if you want to send email via the email alerter -->
  <appSettings>
    <add key="AlerterType" value="EmailAlerter"/>
    <add key="EmailTo" value="system@example.org"/>
    <add key="EmailFrom" value="monitoring@example.org"/>
    <add key="EmailHost" value="smtp.example.org"/>
    <add key="EmailPort" value="587"/>
    <add key="EmailUser" value="user@example.org"/>
    <add key="EmailPassword" value="password"/>
    <add key="EmailEnableSSL" value="true"/>
  </appSettings>
</configuration>
